html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.svg-embed {
  width: 100vw;
  height: 100vh;
  display: block;
}
