html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.svg-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0;
  padding: 0;
  background: #fff;
}
